<app-header></app-header>
<div><h2 class="text-center" >List of Tasks </h2></div>

<div class="container">
    <div><a class="text-center fw-bold nav-link" routerLink="/employees" routerLinkActive = "active" >Display Employees with Department</a></div>
    <div><a class="text-center fw-bold nav-link" routerLink="/employee-roles" routerLinkActive = "active">Display Employees & Their Roles</a></div>
    <div><a class="text-center fw-bold nav-link" routerLink="/create-employee" routerLinkActive = "active">Create Employee with Role</a></div>
    <div><a class="text-center fw-bold nav-link" routerLink="/dept-role-count" routerLinkActive = "active"> Department and Role count</a></div>
    <p class="text-center fw-bold"> Department and Role count</p>
    <p class="text-center fw-bold"> Assign Employee to Department</p>
</div>
<router-outlet></router-outlet>