<app-header></app-header>

<br>
<H4 class="text-center">Create Employee with Roles</H4>
<div class="col-md-4 offset-md-3">
<form (ngSubmit)="updateEmployee()">

    <table class="table table-striped">
            <tr>
                <th>Employee Name</th>  <td>{{employee.employeeName}}</td>
            </tr>
            <tr>
                <th>Employee Roles</th>  <td><label *ngFor = "let role of employee.roles" >{{role.roleName}},&nbsp;</label></td>
            </tr>
            <tr>
                <th>Employee Department</th>  
                <td>
                    <select [(ngModel)]="selectedDepartment" (ngModelChange)="onDepartmentSelected($event)" class="form-control" name="department">
                        <option class="dropdown-item" disabled  value="undefined">Select Departments</option>
                        <option *ngFor="let department of departments" value="{{department['id']}}" [selected]="employee.department.id == department['id']">{{department['deptName']}}</option>
                      </select>
                </td>
            </tr>
    </table>

<br>
    <div>
        <button class="btn btn-success" type="submit">Submit</button>
    </div>


</form>
</div>
